POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
PGADMIN_DEFAULT_EMAIL=pgadmin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me
PGADMIN_PORT=5050
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
